*{
    font-family: "Roboto Slab", serif;
    padding: 0;
    margin: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
img{
    width: 150px;
    cursor: pointer;
}
.nav-items{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 30px;
}
.nav-items ul{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
}
.nav-items li{
    list-style: none;
    display: flex;
    font-size: 16px;
    font-weight:600;
    cursor: pointer;
}
.authentication button{
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.orange-text{
    color: #fa6400;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
p{
    font-size: 18px;
    font-weight: 350;
    margin-bottom: 30px;

}
.text{
    /* color: #fa6400; */
    margin-left: 60px;
}
.p-bold{
    font-size: 20px;
    font-weight:500;
    margin-left: 50px;
}
.btn {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.check {
    padding: 14px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #fa6400;
    color: white;
    cursor: pointer;
}

.form {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}


.content-description{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card{
    display: grid;
    padding: 50px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card-description{
    border: 1px solid #504c4c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px #fa6400 ;
    margin-bottom: 20px;
}
.card-description span{
    font-weight: 500;
    font-size: 20px;
}
.card-description p{
    font-size: 16px;
}
.join{
    background-color: black;
    color: #afaeae;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.policy h2{
    font-size: 30px;
}
.policy p{
    font-size: 20px;
    margin-bottom: 0;
}
.policy span{
    font-size: 13px;
}

.mail input{
    width: 350px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    margin-right: 10px;
}
.mail button{
    width: 120px;
    padding: 10px;
    border-radius: 3px;
    background-color: #fa6400;
    border: none;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    margin-bottom: 20px;
}
.platform ul li{
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.business ul li{
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.customers ul li{
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.resources ul li{
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.company ul li{
    list-style: none;
    margin-top: 10px; 
    margin-bottom: 20px;
}
.footer1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 133px;
}
.footer1 span{
    margin-bottom: 5px;

}
.footer1 p{
    font-size: 14px;
    margin-bottom: 2px;
}
.rights{
    font-size: 13px;
    color: rgb(141, 140, 140)    ;
}


