body {
    font-family: 'Outfit', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    padding: 50px;
}

h1 {
    text-align: center;
}

.post-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.post {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #858383;
    border-radius: 5px;
    box-shadow: 0 4px rgb(249, 93, 2);
    cursor: pointer; 
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-image {
    max-width: 50px;
    height: 50px;
    border-radius: 80px;
    margin-right: 10px;
}
.posts-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  
.container {
    display: block;
    position: relative;
    cursor: pointer;
    user-select: none;
}
  
svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 30px;
    transition: all 0.3s;
    fill: #666;
}
  
svg:hover {
    transform: scale(1.1) rotate(-10deg);
}
  
.container input:checked ~ svg {
    fill: #2196F3;
}
  
.posts-btn button {
    padding: 10px 20px;
    background: #f93;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post h2 {
    font-size: 1.2em;
    margin: 0;
}

.post p {
    margin-top: 10px;
    text-align: justify;
}

.post-detail {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;
    padding: 20px;
    border-radius: 10px;
}

.postDetailsContainer-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    position: relative;
}
.postDetailsContainer-content .post-body{
    margin-bottom: 20px;
}
.postDetailsContainer-content h3 {
    font-size: 1.2rem;
    margin: 0;
}
.postDetailsContainer-content h4 {
    font-size: 1.1rem;
    margin: 0;
}
.postDetailsContainer-content img {
    max-width: 50px;
    height: 50px;
    border-radius: 80px;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 0px;
    right: 30px;
    font-size: 30px;
    cursor: pointer;
}
.comments {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.comment {
    border: 1px solid rgb(190, 187, 186);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px rgb(249, 93, 2);
}

.comment h4 {
    margin: 0;
    font-size: 1.1em;
}

.comment p {
    margin: 5px 0;
    font-size: 0.9em;
}

.comment small {
    color: #555;
}